colors{
    color: #6587D8;
    color: #efb0c8;
    color: #C0112D;
    color: #F55E35;
    color: #68282A;
}
html{
    font-family: 'Montserrat';
    color: #efb0c8;
    line-height: 150%;
}
.head{
    height:70px;
    /*background: rgb(192,17,45);*/
    margin:0; 
    padding:0;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Montserrat;
}

body {
    font-family: Montserrat;
    height: 100%;
/* <<<<<<< HEAD */
margin:0;   
background: linear-gradient(30deg, rgba(101,135,216,1) 0%, rgba(192,17,45,1) 65%);    
background-repeat: no-repeat;
background-attachment: fixed;
}

/* .container {
    background: rgb(101,135,216);
    
    background: rgb(192,17,45);
    background: linear-gradient(90deg, rgba(192,17,45,1) 0%, rgba(245,94,53,1) 59%, rgba(245,94,53,1) 100%); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
} */

.test {
    background-image: url();
}
#scrum-process-image{
    background: #efb0c8;
    border-radius: 10px;
    width: 70%;
    float: right;
    margin:10px;
}

.eventList{
    text-align: center;
    width: 500px;
    margin: auto;
    margin-bottom: 25px;
    margin-top: 25px;
    background-color: rgba(245,94,53,1);
    padding: 15px;
    border-radius: 10px;
    
}
a{
    text-decoration: none;
    color: #efb0c8;

}

.listHead{
    /* text-align: center; */
    display: flex;
    justify-content: space-between;
}

/* .event{
    float: left;
} */

/* .location{
    float: right;
} */

.date{
    /* text-align: center; */
    /*background: linear-gradient(30deg, rgba(101,135,216,1) 0%, rgba(192,17,45,1) 65%);*/
    background: rgb(104,40,42);
    background: linear-gradient(0deg, rgba(104,40,42,1) 0%, rgba(239,176,200,0.8253676470588236) 100%);
    margin:0;
    background-repeat: no-repeat;
    padding: 0px 5px;
    /* min-height: 100vh;  */   
}


/* 
//Gör ingen skillnad i css:n, ta bort?
.nav_container{
    width: 90%;
    margin: 0 auto;
    
} */

/* Alternativ 1 */
/* .navbar { 
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: hidden;
    height: 70px;
    line-height: 70px;
    border-bottom: 2px solid #6587D8;
}
.menu li:hover {
    background: #6587D8;
}  */



/* Alternativ 2 */
.navbar { 
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: hidden;
    height: 70px;
    line-height: 70px;
    border-bottom: 2px solid #F55E35;
   /*  background: linear-gradient(90deg, rgba(192,17,45,1) 0%, rgba(245,94,53,1) 59%, rgba(245,94,53,1) 100%); */
}
.menu li:hover {
    background-color: #F55E35;
} 

.logo {
    height: 70px;
float: left;
}

.menu {
    float: right;
    height: 100%;
}

.menu li {
    float: left;
    width: auto;
    padding: 0 15px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    list-style: none;
}

.menu li a {
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
    text-transform: uppercase;
}


.menu li.active {
    background: black;
}

.container {
    width: 100%;
    height: 80%;
    margin: auto;
    margin-top: 30px;
    /*display: flex;
    justify-content: center; */
    /*background: rgb(101,135,216);
    background: linear-gradient(30deg, rgba(101,135,216,1) 0%, rgba(192,17,45,1) 65%);
    background: rgb(192,17,45);
    background: linear-gradient(90deg, rgba(192,17,45,1) 0%, rgba(245,94,53,1) 59%, rgba(245,94,53,1) 100%);*/
    /*background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;*/
}

/* .div{
    width: 80%;
    height: 80%;
    margin: auto;
} */
.events_showcase{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    flex-wrap: wrap;
    flex-direction: column;
}
.displayed_event {
    /* display: inline-flex; */
    /*transition: transform .3s; */
    /* margin: 25px; */
    height: auto;
    width: auto;
    border: 1px solid #F55E35;
    background: rgb(192,17,45);
    background: linear-gradient(30deg, rgba(101,135,216,1) 0%, rgba(192,17,45,1) 65%);
    /*background: linear-gradient(90deg, rgba(168,191,246,0.5) 0%, rgba(101,135,216,0.75) 100%);*/
}   

.displayed_event:hover {
    /*transform: scale(1.05);*/
    background: linear-gradient(90deg, rgba(192,17,45,1) 0%, rgba(245,94,53,1) 100%);
    transition: background ease 5s;
}

.event_container {
    align-items: center;
    justify-content: center;
    min-width: 400px;
    min-height: 300px;
    width: auto;
    padding-top: 20px;
}
.event_info {
    display: inline;

}
.event_name {
    text-align: center;
    color: white;
    font-size: 30px;
}
.event_pic {
    padding: 10px 10px;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    float: left;
}

.event_date {
    padding-top: 80px;
    padding-right: auto;
    padding-left: 30px;
    display: flex;
    color: white;

}

.event_location {
    padding-top: 20px;
    padding-left: auto;
    padding-left: 30px;
    display: flex;
    color: white;
}

.event_text {
}
/* =======  */

 /*    margin: 0;
    background: linear-gradient(30deg, rgba(101, 135, 216, 1) 0%, rgba(192, 17, 45, 1) 65%);
    min-height: 100vh;
    color: white;
} */

.container {
    /* display: flex; */
    /* padding: 30px; */
}

/* .test {
    background-image: url();
} */

#innerCon {
    display: flex;
}


#mainPic {
    width: 60%;
    height: 200px;
    /* background-color: yellow; */
    /* margin-left: 20px; */
}

#infoCard {
    width: 40%;
    height: 200px;
    /* background-color:#fff; */
    background: linear-gradient(90deg, rgba(17,138,192,1) 0%, rgba(245,53,53,1) 0%, rgba(245,94,53,1) 100%);

    margin-left: 20px;
    color: white;
    border-radius: 10px;
    
    

}
#infoCard p{
    padding: 5px;
    font-weight: lighter;
    font-size: smaller;

}

#innerCon2 {
    display: flex;
    /* border: 1px solid red; */

}

#abouEvent {
    padding-left: 270px;

}

#textCon {
    display: flex;
    width: 100%;
    /* border: 1px solid black; */
    /* padding-left: 150px; */
    padding: 15px;
    opacity: 70%;
}

.imgCon {
    /* border: 1px solid black; */
    float: right;
    width: 400px;
    /* margin-left: 30%; */

}

.images {

    border: 1px solid blue;
    width: 60px;
    height: 60px;
    margin: 20px;

}

.resize {
    height: 200px;
    width: 300px;
    

}

#bigPic {
    height: 100%;
    width: 100%;
}
#ticketsBtn{
    width: 400px;
    height: 40px;
    margin-left: 62.5%;
    border-radius: 5px;
    background: inherit;
    color: white;
    outline: 3px solid  white ;
    /* ouline: linear-gradient(to right, red, purple); */

    border: none;
    /* color: white; */
    font-weight: bolder;
    font-size: larger;
    margin-top: 10px;

    letter-spacing: 2px;

}
   
#ticketsBtn:hover{
    outline:  3px solid  black;

}


img{
    border-radius: 10px;
/* >>>>>>> Abdullahibranch */
}